@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: "Roboto";
    --color-primary: #5B21B6;
    --color-dark: #4C1D95;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
    --color-normalbg: #f3f4f6;
    --color-darkbg: #1e2939;
}